.container--mobile-nav {
  position: absolute;
  top: 100%;
  inset-inline: 0;

  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12);
}

.mobile__nav {
  background-color: var(--clr-neutral-100);
}

.mobile__nav-list {
  display: grid;
  row-gap: 5px;
}

.mobile__nav-list > :not(:last-child) {
  border-top: 1px solid var(--clr-neutral-200);
  border-bottom: 1px solid var(--clr-neutral-200);
}

.mobile__nav-list-item {
  font-weight: var(--weight-semibold);
  font-size: var(--fs-body-lg);
}

.nav__item {
  width: 100%;
  padding: 20px 10px;
}

.nav__item:hover {
  color: var(--clr-accent-400);
}

.nav__item--link {
  display: block;
  cursor: pointer;
}

.nav__item--btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown {
}

.dropdown__link {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.dropdown__link > :first-child {
  border: 1px solid var(--clr-neutral-900);
  border-radius: 3px;
  padding: 3px 5px;
  color: var(--clr-accent-500);
}

.dropdown__link > :last-child {
  display: flex;
  flex-direction: column;
  color: var(--clr-neutral-900);
}

.dropdown__link > :last-child p:nth-of-type(1) {
}

.dropdown__link > :last-child p:nth-of-type(2) {
  font-size: 0.8rem;
}
