:root {
  --gutter: 1rem;

  --clr-neutral-900: hsl(0, 0%, 39%);
  --clr-neutral-200: hsl(0, 0%, 90%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --clr-accent-400: hsl(0, 100%, 46%);
  --clr-accent-500: hsl(0, 100%, 36%);

  --font-body: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Arial,
    sans-serif;
  --font-heading: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;

  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;

  --fs-h1: 1.875rem; /* 40px */
  --fs-h2: 1.625rem; /* 26px */
  --fs-h3: 1.375rem; /* 22px */
  --fs-h4: 1.25rem; /* 20px */
  --fs-h5: 1.125rem; /* 18px */
  --fs-h6: 1rem; /* 16px */
  --fs-body-lg: 1rem; /* 16px */
  --fs-body: 0.9375rem; /* 15px */
  --fs-body-sm: 0.875rem; /* 14px */

  --bg-btn-inverse: var(--clr-neutral-100);
  --text-btn-inverse: var(--clr-neutral-900);
  --border-clr-btn-inverse: var(--clr-neutral-900);
}

@media (min-width: 768px) {
  :root {
    --fs-h1: 2.25rem; /* 36px */
    --fs-h2: 2rem; /* 32px */
    --fs-h3: 1.75rem; /* 28px */
    --fs-h4: 1.5rem; /* 24px */
    --fs-h5: 1.25rem; /* 20px */
    --fs-h6: 1.125rem; /* 18px */
    --fs-body-lg: 1.0625rem; /* 17px */
    --fs-body: 1rem; /* 16px */
    --fs-body-sm: 0.9375rem; /* 15px */
  }
}

@media (min-width: 1024px) {
  :root {
    --fs-h1: 2.5rem; /* 48px */
    --fs-h2: 2.5rem; /* 40px */
    --fs-h3: 2rem; /* 32px */
    --fs-h4: 1.75rem; /* 28px */
    --fs-h5: 1.5rem; /* 24px */
    --fs-h6: 1.25rem; /* 20px */
    --fs-body-lg: 1.125rem; /* 18px */
    --fs-body: 1rem; /* 16px */
    --fs-body-sm: 0.9375rem; /* 15px */
  }
}

/* ======== Picadily's Reset ======== */

html {
  box-sizing: border-box;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font: inherit;
}

*:focus-visible {
  outline: 1px solid var(--clr-accent-400);
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: var(--font-body);
  font-size: var(--fs-body);
}

p {
  color: var(--clr-neutral-900);
  font-size: var(--fs-body-lg);
}

h1 {
  font-family: var(--font-heading);
  font-size: var(--fs-h1);
  font-weight: var(--weight-bold);
}

h2 {
  font-family: var(--font-heading);
  font-size: var(--fs-h2);
  font-weight: var(--weight-bold);
}

h3 {
  font-family: var(--font-heading);
  font-size: var(--fs-h3);
  font-weight: var(--weight-bold);
}

h4 {
  font-family: var(--font-heading);
  font-weight: var(--weight-bold);
  font-size: var(--fs-h4);
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

button {
  cursor: pointer;
  background: transparent;
  border: 0;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}
/* ======== *** ======== */

/* ======== Utilities ======== */

.wrapper {
  width: min(100% - var(--gutter), 75rem);
  margin-inline: auto;
}

.flow > * + * {
  margin-top: var(--flow-space, 25px);
}

.even-columns {
  display: grid;
  gap: 1rem;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

@tailwind utilities;

.autoShow {
  animation: text-appear both;
  animation-timeline: view();
}

@keyframes text-appear {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ======== *** ======== */

/* ======== Components ======== */

.btn {
  border: 1px solid;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-100);
  font-weight: var(--weight-semibold);
}

.btn[data-type="inverse"] {
  background-color: var(--bg-btn-inverse);
  color: var(--text-btn-inverse);
  border-color: var(--border-clr-btn-inverse);
}

/* ======== *** ======== */
